<div class="my-card">
    <div class="card-header">
        <img src="{{image}}" />
    </div>
    <div class="card-body">
        <span class="tag tag-teal">Species: {{species}}</span>
        <h4>
            Name: {{name}}
        </h4>
        <div class="user">
            <div class="user-info">
                <h5>Author: {{owner.firstName}} {{owner.lastName}}</h5>
                <small>Rating of votes: {{votes.length}}</small>
                <a href="/posts/details/{{_id}}" class="details_btn">Details</a>
            </div>
        </div>
    </div>