<div class="flip flip-vertical">
    <div class="front">
        <img src="{{image}}" alt="Thestral">
    </div>
    <div class="back">
        <h1>{{name}}</h1>
        <h2>Species: {{species}}</h2>
        <p>Description: {{description}}</p>
        <a href="/posts/details/{{_id}}" class="details">Details</a>
    </div>
</div>